proxy-soap/src/test/resources/simple.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="root" type="rootType" />
    <xs:complexType name="rootType">
        <xs:sequence>
            <xs:element name="child" type="xs:string" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
